<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bushwhich | {{ page.title }}</title>
    <meta name="description" content="Choose Your Own Adventure in Bushwick">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/favicon.ico">
  </head>

  <body>

    <div id="floater"></div>

    <div id="content-container">

      <div class="container">
        <div class="row">
          <div class="span12" id="content">
            {{ content }}
          </div>
        </div>
      </div>

    </div>

    {% include JB/analytics %}

  </body>
</html>
